* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: rgb(17, 1, 23);
}

.fonts {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;

}

.heading {
  text-align: center;
  color: whitesmoke;
  margin: 60px 0;
  font-size: 45px;
  font-weight: bold;
  filter: drop-shadow(0 0 15px rgba(126, 8, 210, 0.8));
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: inherit;
  padding: 20px;
  text-align: center;
  /* background-color: red; */
}

.nav-items a {
  display: inline-block;
  background-image: linear-gradient(rgb(196, 35, 240), rgb(146, 14, 169), rgb(75, 10, 86), rgb(39, 4, 45) );
  padding: 30px 50px;
  width: 285px;
  border: 2px solid pink;
  border-radius: 50px;
  box-shadow: inset 0 0 20px rgb(242, 15, 238), 0 0 25px rgba(227, 43, 255, 0.8);
  font-size: 25px;
  letter-spacing: 5px;
  color: white;
  cursor: pointer;
}

